p.x
{
background-color:#E1D1A9;
text-align:center;
font-size:40px ;
}
p.y
{
border:3px dotted black ;
background-color:/*#E1D1A9 #b3f0ff*/ ;
width:470px ;
border:5px solid black ;
background-color:#ffffb3 ;
margin:30px ;
padding:30px;
width:700px ;}
}
